# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.db
.env
.venv/
*.egg-info/
dist/
build/
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs/
*.log
*.out

# Qt-related
*.qrc
*.ui~
*.autosave

# VSCode and JetBrains
.vscode/
.idea/

# PyInstaller
*.manifest
*.spec
output/
tmp/

# System
ehthumbs.db
Thumbs.db

# Xcode/iOS Simulator specific
~/Library/Developer/CoreSimulator/*
*.xcuserstate
*.xcodeproj/
*.xcworkspace/
*.xcuserdata/

# Launchd / Launchctl cleanup scripts
*.sh
*.plist
*.bak

# Project-specific
.cache/
__output__/